@import 'wrapper.css';
@import 'menu.css';
@import 'header.css';
@import 'hero.css';
@import 'button.css';
@import 'learning.css';
@import 'card-learning.css';
@import 'section.css';
@import 'footer.css';
@import 'testimonios.css';
@import 'contacto.css';

:root{
  --primary: #3d348b;
  --fucsia: #f72585;
  --orange: #f35b04;
  --orangelight: #f18701;
  --yellow: #f7b801;
  --bigaro: #7678ed;
  --lavanda: #e1e1f8;
  --laurellight: #cad5ca;
  --white: #fffffe;
  --black: #414141;
  --headline1: 700 4.5rem/5rem Inter;
  --headline2: 700 4rem/4.75rem Inter;
  --headline3: 700 2rem/2rem Inter;
  --headline4: 700 1.5rem/1.649999976158142rem Inter;
  --headline5: 700 1.25rem/1.649999976158142rem Inter;
  --button: 600 1.125rem/1.6875rem Inter;
  --caption: 400 0.75rem/1.6875rem Inter;
  --body1-regular: 400 1rem/1.6875rem Inter;
  --body1-bold: 700 1.125rem/1.6875rem Inter;
  --body2-regular: 400 0.875rem/1.5rem Inter;
  --body2-bold: 700 0.875rem/1.6875rem Inter;
  --headline1-abhaya: 700 4.5rem/5rem Abhaya-libre;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background: var(--white);
}

.c-bigaro {
  color: var(--bigaro) !important;
}
.bg-bigaro {
  background: var(--bigaro) !important;
}

.c-orangelight {
  color: var(--orangelight) !important;
}
.bg-orangelight {
  background: var(--orangelight) !important;
}

@media screen and (min-width: 1024px) {
  .container-header-hero {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    height: 100vh;
  }
}

