.header{
  /* border: 1px solid red; */
  /* background: var(--white); */
}

.header-content{
  text-align: center;
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
}


@media screen and (min-width: 768px) {
  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;

  }
}

@media screen and (min-width: 1024) {
  .header-content{
    padding-inline-start: 0;
    padding-inline-end: 0;

  }
}

