.learning{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-block-end: 2rem;
  padding-block-start: 2rem;
  padding-inline-end: 1.5rem;
  padding-inline-start: 1.5rem;

}

.learning h1{
  font: var(--headline3);
  color: var(--primary);
  text-align: center;
  margin: 0;
}

.learning-grid{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .learning{
    gap: 5rem;
    padding-block-end: 5rem;
    padding-block-start: 5rem;
    padding-inline-end: 1.5rem;
    padding-inline-start: 1.5rem;
  }
  .learning h1{
  }

  .learning-grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: [line1]1fr [line2] 1fr [line3]1fr [line4];
    grid-template-rows: 1fr;
    grid-column-gap: 78px;
    grid-row-gap: 0px;
  }

  .card-learning:nth-last-of-type(1){
    /* border: 5px solid green; */

  }
  .card-learning:nth-last-of-type(2){
    /* border: 5px solid red; */
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
  }

  .card-learning:nth-last-of-type(3){
    /* border: 5px solid orange; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

}